---
import CircleX from "@icons/CircleX.astro";
import Check from "@icons/Check.astro";

interface Props {
	texto: string;
    class: string;
    checked: boolean;
}

const { texto, checked } = Astro.props
const { class: className, ...rest } = Astro.props; 

---
<li class={`${checked ? '' : 'opacity-50'}`}{...rest}>
    {checked ? <Check width="20" height="20" /> : <CircleX width="20" height="20"/>}
    {texto}
</li>

<style>
    
</style>