---
import Base from '@layouts/Base.astro'
import DisenoWebHero from '@components/dise침o-web/DisenoWebHero.astro'
import SectionsLine from '@shared/Containers/SectionsLine.astro'
import Sections from '@shared/Containers/Sections.astro'
import DisenoWebPorque from '@components/dise침o-web/DisenoWebPorque.astro'
import InicioInfinite from '@components/Inicio/InicioInfinite.astro'
---

<Base title="Dise침o Web 游눹 MONO digital 游 Agencia de Marketing Digital, Dise침o Gr치fico y Desarrollo Web en el Sur de Espa침a.">
	<main>
		<DisenoWebHero />
		<SectionsLine>
			<InicioInfinite />
		</SectionsLine>
		<Sections>
			<DisenoWebPorque />
		</Sections>
	</main>
</Base>
