---
import TituloSubtituloParrafo from '@shared/Titles/TituloSubtituloParrafo.astro'
import ButtonAcentuado from '@shared/Buttons/ButtonAcentuado.astro'
import ButtonSecundario from '@shared/Buttons/ButtonSecundario.astro'
---
<article class="text-center mx-auto">
    <TituloSubtituloParrafo titulo="En Mono Digital, impulsamos tu negocio " subtitulo="para lograr resultados extraordinarios." parrafo="¡Elige la innovación y sorpréndete con nosotros!" />
    <div class="flex flex-wrap gap-3 mt-12 justify-center">
        <ButtonAcentuado url="/" texto="Contacta con nostros" />
        <ButtonSecundario url="/" texto="Nuestros trabajos" />
    </div>
</article>
<style>
</style>