---
import BgGrid from '@shared/Bg/BgGrid.astro'
import ButtonAcentuado from '@shared/Buttons/ButtonAcentuado.astro'
import ButtonSecundario from '@shared/Buttons/ButtonSecundario.astro'
---
<section class="monoWrapper">
    <div class="monoFondo__container">
        <BgGrid />
    </div>
    <article class="monoArticle" data-aos="fade-down" data-aos-duration="3000">
        <header class="monoHeader" data-aos="fade-down" data-aos-duration="3000">
            <h1 class="monoHeader__h1">Mono en acción,<span class="monoHeader__h1-Span"> digital en esencia:</span></h1>
            <p class="monoHeader__p">El dúo perfecto.</p>
            <div class="monoButton__container">
                <ButtonAcentuado url="/diseño-web" texto="Diseño Web" />
                <ButtonSecundario url="/branding" texto="Brandign" />
                <ButtonSecundario url="/marketing" texto="Marketing" />
            </div>
        </header>
    </article>
</section>
<style>
    .monoWrapper {@apply relative overflow-hidden;}
    .monoFondo__container {@apply absolute inset-x-0 top-0 h-96 rotate-180 text-onyx-700/40 dark:text-onyx-700/30 opacity-60 [mask-image:linear-gradient(to_bottom,transparent,white)];}
    .monoArticle {@apply px-8 pt-32 pb-24 mx-auto md:px-12 lg:px-36 lg:pt-64 max-w-7xl relative;}
    .monoHeader {@apply text-center mx-auto;}
    .monoHeader__h1 {@apply text-4xl lg:text-5xl;}
    .monoHeader__h1-Span {@apply md:block text-onyx-400 dark:text-onyx-600;}
    .monoHeader__p {@apply text-onyx-300 mt-4 dark:text-onyx-500;}
    .monoButton__container {@apply flex flex-wrap gap-3 mt-12 mb-12 justify-center;}
</style>