---
interface Props {
    url: string
    texto: string
}

const { url, texto } = Astro.props
---
<li>
<a class="monoButton_acentuadoXs" href={url}>{texto}</a>
</li>
<style>
    .monoButton_acentuadoXs {
        @apply inline-flex items-center px-4 py-2 text-xs text-onyx-50 text-center transition duration-500 ease-in-out transform rounded-lg bg-gradient-to-tr from-indigo-500 via-indigo-400 to-indigo-300 hover:to-indigo-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-300;
    }
</style>