---
import BgGrid from '../shared/Bg/BgGrid.astro'
import webDesignInfo from '@config/diseñoWeb-page.json'

const { diseñoWeb } = webDesignInfo

---
<section class="monoWrapper">
    <div class="monoFondo__container">
        <BgGrid />
    </div>
    <article class="monoArticle" data-aos="fade-down" data-aos-duration="3000">
        <header>
            <div class="monoHeader">
                <span class="monoHeader__span">{diseñoWeb.emoji}</span>
                <p class="monoHeader__p">{diseñoWeb.titulo}<span class="monoHeader__p-Span">{diseñoWeb.tags}</span> </p> 
            </div>
            <h1 class="monoHeader__h1">{diseñoWeb.tagline[0]}<span class="monoHeader__h1-Span">{diseñoWeb.tagline[1]}</span></h1>   
        </header>
        <main class="monoMain">
            <p>{diseñoWeb.descripcion[0]}</p>
            <p>{diseñoWeb.descripcion[1]}</p>
            <p>{diseñoWeb.descripcion[2]}</p>
        </main>
    </article>
</section>
<style>
    .monoWrapper {@apply relative overflow-hidden;}
    .monoFondo__container {@apply absolute inset-x-0 top-0 h-96 rotate-180 text-onyx-700/40 dark:text-onyx-700/30 opacity-60 [mask-image:linear-gradient(to_bottom,transparent,white)];}
    .monoArticle {@apply px-8 pt-32 pb-24 mx-auto md:px-12 lg:px-36 lg:pt-64 max-w-7xl relative;}
    .monoHeader {@apply flex flex-wrap gap-2 items-center;}
    .monoHeader__span {@apply text-3xl;}
    .monoHeader__p {@apply text-sm font-medium leading-6 text-white;}
    .monoHeader__p-Span {@apply ml-2 text-xs text-onyx-300;}
    .monoHeader__h1 {@apply text-4xl lg:text-5xl text-white mt-12;}
    .monoHeader__h1-Span {@apply md:block text-onyx-400;}
    .monoMain {@apply text-onyx-300 mt-4 dark:text-onyx-500;}
</style>