---
import TitularParrafo from '@shared/Titles/TitularParrafo.astro'
import porqueNosotrosDiseñoWeb from '@config/porqueNosotros-diseñoWeb.json'

---
<TitularParrafo titulo={porqueNosotrosDiseñoWeb.titulo} parrafo={porqueNosotrosDiseñoWeb.descripcion} />

<ul class="monoWrapper">

    {
        porqueNosotrosDiseñoWeb.elements.map((item, index) => {
            return (
                <li class="monoLi" data-aos={item.dataAos} data-aos-duration="2000">
                    <div>
                        <figure class="monoFigure shadow-massive">
                            <span>{item.emoji}</span>
                        </figure> 
                        <h5 class="monoH5">{item.titulo}</h5>
                    </div>
                    <p class="monoP">{item.descripcion}</p>
                </li>
            )
        })
    }

</ul>

<style>
    .monoWrapper {@apply grid grid-cols-2 gap-6 lg:grid-cols-3 lg:gap-x-6 mt-24 lg:gap-y-24 lg:text-center;}
    .monoLi {@apply pb-4 border-b border-onyx-800;}
    .monoFigure {@apply [&>span]:text-4xl flex items-center justify-center size-16 text-indigo-300 rounded-xl bg-gradient-to-tr from-onyx-50 to-onyx-700 lg:mx-auto border border-onyx-800 dark:from-onyx-300 dark:to-onyx-200 dark:border-onyx-300;}
    .monoH5 {@apply mt-12 text-xl font-medium leading-6 text-white;}
    .monoP {@apply mt-4 text-base text-onyx-300;}
</style>